<div class="row">
  <div class="span4">
    <div class="panel">
      <button class="btn primary large joinBtn" disabled="disabled">Join Show</button>
    </div>
  </div>

  <div class="span12">
    <div class="stage"></div>
  </div>
</div>
