// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stage {
  position: relative; 
  padding-top: 400px;
  .video.host {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .video.guest {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .video.queue {
    float: left;
  }
}
