// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stage {
  position: relative; 
  padding-top: 400px;
  .host, .guest, .publish {
    position: absolute;
    top: 0px;
    object {
      width: 340px;
      height: 275px;
    }
  }
  .host {
    left: 0px;
  }
  .guest {
    right: 0px;
  }
  .publish {
    left: 300px;
  }
  .queue {
    float: left;
    object {
      width: 160px;
      height: 120px;
    }
  }
}
