<div class="hero-unit">
  <h1>Host a talk show!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eleifend gravida diam, ut tempus tortor suscipit id. Duis adipiscing nunc eget felis luctus eget facilisis libero tempus.</p>
</div>

<div>
  <%= render 'form' %>
</div>
