<div class="hero-unit">
  <h1> Start your own show!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum aliquet, quam vitae sagittis lobortis, arcu nisl cursus nulla, id feugiat nulla nibh a ipsum. Nam neque tortor, iaculis in vehicula ac, ornare eget sapien. Quisque non ante sed nunc molestie vestibulum. Suspendisse eleifend gravida diam, ut tempus tortor suscipit id. Duis adipiscing nunc eget felis luctus eget facilisis libero tempus.</p>
</div>

<div>
  <%= render 'form' %>
</div>
